@import './timetable.constants.scss';

.timetable
{
    display: flex;

    &__time-slots
    {
        margin-top: $headerHeight;

        background-color: white;

        z-index: 1;
    }

    &__events
    {
        z-index: 0;
    }

    &__content
    {
        display: flex;
    }

    &__event-info
    {
        width: 100%;
        max-width: 600px;
    }

    &__go-to-now
    {
        position: fixed;

        bottom: 30px;
        right: 30px;
    }
}

@media (max-width: 420px) {
    .timetable
    {
        &__event-info
        {
            padding: 30px;
        }
    }

    .modal__close
    {
        right: 25px;
    }
}

@supports (position: sticky) {
    .timetable__time-slots
    {
        position: sticky;

        left: 0;
    }
}
