@import '../timetable.constants.scss';

.timetable
{
    &__now
    {
        pointer-events: none;

        position: absolute;

        left: $timeSlotsWidth + $columnPadding;

        display: flex;
    }

    &__now-line-segment
    {
        width: $columnWidth;

        color: rgba(255, 0, 0, 0.1);
        background-color: currentColor;

        height: 2px;
    }
}

@media (max-width: 420px) {
    .timetable
    {
        &__now-line-segment
        {
            width: $columnWidthMobile;
        }
    }
}
